.completed:after{
    content: '';
    width: 100%;
    height: 4px;
    /* background-color: #5038ED; */
    background-color: gray;
    position: absolute;
    top: 30px;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    transition: all;
    animation: lineThrough .3s ease-in-out;
    user-select:none;
}

.completed{
    opacity: .75;
    transform: scale(.95);
    background: #eeeeef;
}
.completed h2{
    color: gray;
}


@keyframes lineThrough{
    from {
        left: -100%;
    }
    to{
    left: 0%;
    }
}